*~
*.o
*.exe
.idea
.vscode
.DS_Store

judger/core/judge_client/.idea/
judger/core/judge_client/judge_client
judger/core/judged/.idea/
judger/core/judged/judged
judger/core/sim/.idea/

/web/bbs/
/web/wiki/
/web/JudgeOnline/

web/OJ/upload/*
web/OJ/upload
